<% @lists.each do |list| %>
<div class="col-sm-1 col-sm-3 col-md-4" data-list-id='<%= list.id %>'> 
  <%= link_to list_path(list) do %>
    <div class="card-category my-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= list.name %>
    </div>
  <% end %>
</div> 
<% end %>