<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://br.web.img3.acsta.net/r_654_368/newsv7/19/01/17/20/18/3984219.jpg);">
  <div class=" container text-center"">
    <h1>Save<strong> movies</strong> to save <strong>time</strong>!</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<div class="container">
    <div class="d-flex justify-content-between align-items-end mt-5 mb-3">
      <h2>My lists</h2>

      <%= link_to  "Create a movie list", new_list_path, remote: true, class: "btn btn-outline-success" %>
    </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-sm-1 col-sm-3 col-md-4">
        <%= link_to list_path(list) do %>
          <div class="card-category my-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="listModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      PARTIAL
    </div>
  </div>
</div>