<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://br.web.img3.acsta.net/r_654_368/newsv7/19/01/17/20/18/3984219.jpg);">
  <div class=" container text-center"">
    <h1>Save<strong> movies</strong> to save <strong>time</strong>!</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<div class="container">
    <div class="d-flex justify-content-between align-items-end mt-5 mb-3">
      <%= render "shared/filter_movies" %>

      <%= link_to  "Create a new list", new_list_path, class: "btn btn-outline-success" %>
    </div>
  <div class="row" id="all-lists">
    <%= render @lists %> <!-- if you render an PLURAL instance variable RAILS WILL UNDERSTAND THA T IT HAS instances of it and will do a loop by it self to render every partial with the SINGULAR name -->
  </div>
</div>
