<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      <div class="form-list">
        <h2>Create your list</h2>
        <%= simple_form_for @list do |f| %>
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :photo, as: :file %>
        </div>
        <div class="form-actions">
          <%= f.submit "Create list", class: "btn btn-primary btn-block rounded-pill my-4" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
