<div class="container">
  <% if List.find(params[:list_id]).movies.empty? %>
    <h1 class='my-3'>Add your <strong>first</strong> movie</h1>
  <% else %>
    <h1 class='my-3'>Choose a movie</h1>
  <% end %>
  
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, input_html: { class: 'select2' }  %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>