<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <%= render "shared/filter_movies" %>
      <div id="movies">
        <% @movies.each do |movie| %>
          <h4><%= movie.title %></h4>
          <p><%= movie.overview %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>