#btn-review {
  color: white;
  background-color: #1EDD88;
  padding: 4px 12px;
  border: 0px;
  border-radius: 4px;
  opacity: 0.8;
  &:hover {
      opacity: 1;
  };
}

.btn-primary {
  background-color: $prussianblue;
  border-color: $prussianblue;
  opacity: 0.8;
  transition: 0.7s ease;
  &:hover {
    opacity: 1;
    background-color: $prussianblue;
    border-color: $prussianblue;
  }
}