.review-content {
  margin-top: 25px;
  border-top: 1px solid black;
  padding: 20px 0;
}

.review-content .review-box {
  width: 50%;
  margin-right: 5px;
}

.review-content .new-review-box {
  width: 50%;
}
