.no-review {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 12px;
  margin-bottom: 5vh;
  h5 {
    color: $orange;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 32px;
  }
  i {
    font-size: 24px;
  }
  ul {
    margin: 0;
  }
  li {
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

.review-content {
  margin-top: 25px;
  border-top: 1px solid black;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.review-content .review-box {
  width: 100%;
}

.review-content .new-review-box {
  width: 100%;
}

.review-each {
  p {
    margin-bottom: 0.7rem;
  }
  margin-top: 22px;
}

.review-end {
  border-bottom: 1px solid rgba(156, 156, 156, 0.39);
  padding-bottom: 12px;
  margin-bottom: 12px;
  span {
    font-style: italic;
    font-weight: lighter;
    font-size: 0.8em;
    opacity: 0.7;
  }
}

.hidden-delete {
  visibility: hidden;
  &:hover {
    visibility: visible;
  }
}

.fa-trash {
  color: $black;
  &:hover {
    color: $red;
  }
}

@media(max-width: 992px) {
  .review-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .review-content {
    grid-template-columns: 1fr;
  }
}