<div class="no-review">
  <div class="text-center">
    <h5>Share with your friends</h5>
    <ul class="list-inline class="list-inline-item"">
      <li class="list-inline-item">
        <i class="fab fa-facebook-square"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-twitter-square"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-whatsapp-square"></i>
      </li>
    </ul>
  </div>
</div>