<div class="review-box">
  <h4>Reviews</h4>
  <% @list.reviews.each do |review| %>
    <div class="review-each d-flex align-items-end">
        <p>
          <% star = '<i class="fas fa-star mr-1"></i>' %>
          <%= star.html_safe * review.rating %>
            <small><%= distance_of_time_in_words(Time.now, review.created_at) %> <em>ago</em></small>
        </p>
    </div>
    <p class="review-end"><%= review.comment %></p>

  <% end %>
</div>